@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --------------------------
  Base Styles
--------------------------- */

* {
  box-sizing: border-box; 
}

/* --------------------------
  BRAND COLOURS
---------------------------

White 
colour: #fff;

Light Blue
color: #ABC;

Blue
color: #576F90;

Black
color: black;

*/

/* --------------------------
  MAIN CONTENT
--------------------------- */

html,
body {
    height: 100%;
    margin: 0;
    display: table;
    width: 100%;
}

body {
    background-color: #ABC;
}

.main-wrapper {
    min-height: 100%;
    margin-bottom: -170px;
    height: auto;
}

.main-content-wrapper {
    display: block;
    position: relative;
    margin-bottom: 12em;
}

/* --------------------------
  BANNER IMAGES
--------------------------- */

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
}


/* --------------------------
  FOOTER
--------------------------- */

footer {
    display:table-row;
    height: 1px;
    margin: 0 auto;
    text-align: center;
    padding: 1.5em;
    background-color: #576F90;
    color: #fff;
}

footer p {
    margin: 0;
    padding: 0;
}

footer li {
    list-style-type: none;
}

footer li:first-child {
    font-size: 1.1250rem;
    font-weight: bold;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    border-bottom: 1px solid #fff;
}

footer > div {
    justify-content: space-between;
    margin: 0 auto;
}

footer > .grid {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

.grid > div ul {
    margin: 0.75em;
    padding: 0;
}

.copyright {
    margin: 0em 0 1.5em;
}

.wrapper:after {
    content: "";
    display: block;
}

.wrapper:after, footer {
    height: 170px;
}

/* --------------------------
  MEDIA QUERIES
--------------------------- */


@media (min-width: 515px) {
    .main-wrapper {
        min-height: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: -170px;
        max-width: 95%;
    }
    
    footer > .grid {
        max-width: 80%;
    }
}

@media (min-width: 1026px) {
    .main-wrapper {
        max-width: 90%   
    }
    
    footer > .grid {
        max-width: 70%;
    }
}


@media (min-width: 1545px) {
    .main-wrapper {
        max-width: 90%   
    }
    
    footer > .grid {
        max-width: 60%;
    }
}









