@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --------------------------
  Base Styles
--------------------------- */

* {
  box-sizing: border-box; 
}

/* --------------------------
  MAIN CONTENT
--------------------------- */

body {
    background-color: #ABC;
    padding: 3em;
}

.logo {
    width: 110px;
}


/* --------------------------
  ACCORDION
--------------------------- */

.tab-group {
    margin: 0 auto;
    width: 100%;
}

.tab {
    position: relative;
    width: 100%;
}

.tab input {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -999;
}

.tab label {
    background: #72d2c6;
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 3;
    padding-left: .5em;
    margin-bottom: .5em;
    transition: letter-spacing .55s;
}

.tab input: focus + label,
.tab label: hover {
    background: #85D8CE;
    letter-spacing: 1px;
}

.tab-content {
    overflow: hidden;
    transition: all .35s;
    max-height: 0;
}

.tab-content > a {
    display: block;
    line-height: 0;
}

.tab input:checked ~ .tab-content {
    max-height: 100%;
    height: 45em;
}

/* --------------------------
  NAVIGATION
--------------------------- */

.main-header {
    padding-top: 1.5em;
}

.navmenu li, .submenu li, submenu2 li {
    margin: 0;
    padding: 0;
}

.navmenu, .submenu1, .submenu2 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navmenu li {
    width: 155px;
    text-align: center;
    position: relative;
    margin-right: 5px;
}

.navmenu a {
    display: block;
    text-decoration: none;
    width: 155px;
    line-height: 20px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 20px;
}

.navmenu .submenu1 a {
    margin-top: 5px;
}

.navmenu .submenu2 a {
    margin-left: 10px;
}

.navmenu li:hover > a {
    background-color: #CFC;
}

.navmenu li:hover a:hover {
    background-color: #FF0;
}

.navmenu .submenu1 {
    display: block;
}

.navmenu .submenu2 {
    display: block;

}

/* --------------------------
  MEDIA QUERIES
--------------------------- */


@media (min-width: 769px) {
    

    
}

@media (min-width: 1026px) {
    

}


@media (min-width: 1545px) {
    .navmenu li {
        float: left;
    }
    
    .tabgroup, .tab input, .tab label  {
        display: none;
        visibility: hidden;
        max-width: 100%;
        width: 100%;
    }
    
    .tab-content {
        overflow: visible;
        max-height: 100%;
    }
    
    .tab-content > a {
        display: visible;
        visibility: visible;
    }
        
    .navmenu a {
            padding: 20px;   
        }
    
    .navmenu .submenu1 {
        display: none;
        position: absolute;
        top: 60px;
        left: 0px;
    }
    
    .navmenu .submenu2 {
        display: none;
        position: absolute;
        top: 0px;
        left: 150px;
    }
        
    .navmenu li:hover .submenu1 {
            display: block;
    }
    
        .navmenu .submenu1 li:hover .submenu2 {
            display: block;
    }
}







