@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --------------------------
  Base Styles
--------------------------- */

* {
  box-sizing: border-box; 
}

/* --------------------------
  MAIN CONTENT
--------------------------- */

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background-color: #ABC;
}

.main-wrapper {
    min-height: 100%;
    margin-bottom: -170px;
    padding: 3em;
}

footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1.5em;
    background-color: slategrey;
}

footer > div {
    justify-content: space-between;
    margin: 0 auto;
}

.wrapper:after {
    content: "";
    display: block;
}

.wrapper:after, footer {
    height: 170px;
}









