@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* --------------------------
  Base Styles
--------------------------- */

* {
  box-sizing: border-box; 
}

/* --------------------------
  MAIN CONTENT
--------------------------- */

body {
    background-color: #ABC;
    padding: 3em;
}


/* --------------------------
  ACCORDION
--------------------------- */

.tab-group {
    margin: 0 auto;
    width: 100%;
}

.tab {
    position: relative;
    width: 100%;
}

.tab input {
    position: absolute;
    left: -99px;
    top: 0;
    z-index: -999;
}

.tab label {
    background: #72d2c6;
    color: #fff;
    display: block;
    font-weight: bold;
    line-height: 3;
    padding-left: .5em;
    margin-top: 5px;
    border-radius: 5px;
    transition: letter-spacing .55s;
    cursor: pointer;
}

.tab input: focus + label,
.tab label: hover {
    background: #85D8CE;
    letter-spacing: 1px;
}

.tab-content {
    max-height: 0;
    overflow: hidden;
    transition: all .35s;
}

.tab-content a {
    color: black;
    font-weight: normal;
}

.tab input:checked ~ .tab-content {
    max-height: 45em;
    height: 100%;
    margin-bottom: 5px;
    transition: all 350ms ease-out;
}

/* --------------------------
  FLEXBOX
--------------------------- */

.main-header,
.navmenu {
    display: flex;
    flex-direction: column;
}

.navmenu {
    flex-direction: column;
    justify-content: space-between;
    margin-top: 1.5em;
}

.logo {
    align-self: center;
    margin: 0 auto;
}


/* --------------------------
  NAVIGATION
--------------------------- */

.main-header {
    padding-top: 1.5em;
}

.navmenu li, .submenu li, submenu2 li {
    margin: 0;
    padding: 0;
}

.navmenu, .submenu1, .submenu2 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navmenu li {
    text-align: center;
    position: relative;
    margin-right: 5px;
}

.navmenu a {
    display: block;
    text-decoration: none;
    width: 195px;
    line-height: 20px;
    background-color: #FFF;
    border-radius: 5px;
    padding: 20px;
}

.navmenu .submenu1 a {
    margin-top: 5px;
    width: 100%;
}

.navmenu .submenu2 a {
    margin-left: 5px;
}

.tab-content{
    margin-top: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.tab-content > a {
    width: 99.2%;
}

.navmenu li:hover > a {
    background-color: #CFC;
}

.navmenu li:hover a:hover {
    background-color: #FF0;
}

.navmenu .submenu1 {
    display: block;
}

.navmenu .submenu2 {
    display: none;

}

/* --------------------------
  MEDIA QUERIES
--------------------------- */


@media (min-width: 769px) {

    
}

@media (min-width: 1026px) {
    .main-header {
        display: flex;
        justify-content: flex-end;
    }
    
    .navmenu {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.5em;
    }
    
    .navmenu li {
        float: left;
        max-width: 200px;
        width: 100%;
    }
    
    .tabgroup, .tab input, .tab label  {
        display: none;
        visibility: hidden;
        width: 100%;
    }
    
    .tab-content {
        overflow: visible;
        max-height: 100%;
    }
    
    .navmenu li {
        width: 150px;    
    }
    
    .navmenu a {
        padding: 20px;   
    }
    
    .submenu1 li,
    .submenu2 li {
        max-width: 200px;
        width: 100%;
    }
    
    .tab-content{
        margin-top: 0;
    }
    
    .tab-content > a {
        display: block;
        visibility: visible;
    }
    
    .navmenu .submenu1 {
        display: none;
        position: absolute;
        top: 60px;
        left: 0px;
    }
    
    .navmenu .submenu1 a {
        max-width: 150px;
        width: 100%;
    }
    
    .navmenu .submenu2 {
        display: none;
        position: absolute;
        top: 0px;
        left: 100%;
        max-width: 150px;
        width: 100%;
        padding-left: 1px;
    }
        
    .navmenu li:hover .submenu1 {
            display: block;
    }
    
    .navmenu .submenu1 li:hover .submenu2 {
            display: block;
    } 

}


@media (min-width: 1545px) {
    
    .main-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .navmenu {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 0;
        align-self: center;
    }
    
    .logo {
        align-self: center;
        margin-right: 10em;
    }
    
    .main-header,
    .navmenu {
        display: flex;
    }
    
    .navmenu {
        flex-direction: row;
        justify-content: flex-end;
    }
    
    .navmenu li {
        float: left;
        max-width: 200px;
        width: 100%;
    }
    
    .submenu1 li,
    .submenu2 li {
        max-width: 200px;
        width: 100%;
    }
    
    .tabgroup, .tab input, .tab label  {
        display: none;
        visibility: hidden;
        width: 100%;
    }
    
    .tab-content {
        overflow: visible;
        max-height: 100%;
    }
    
    .tab-content > a {
        display: block;
        visibility: visible;
    }
    
    .navmenu .submenu1 {
        display: none;
        position: absolute;
        top: 60px;
        left: 0px;
    }
    
    .navmenu .submenu1 a {
        max-width: 200px;
        width: 100%;
        margin-left: 0;
    }
    
    .navmenu .submenu2 {
        display: none;
        position: absolute;
        max-width: 200px;
        width: 100%;
        top: 0px;
        left: 100%;
        padding-left: 5px;
    }
        
    .navmenu li:hover .submenu1 {
        display: block;
    }
    
    .navmenu .submenu1 li:hover .submenu2 {
        display: block;
    }
}







