
/*============================================================
	For Small Desktop
==============================================================*/

@media (min-width: 980px) and (max-width: 1150px) {

    .home-slider .owl-nav > div {
        width: 8%;
    }

    .team-mate .hover {
        padding: 15px;
    }

    .team-mate .member-info {
        margin-bottom: 15px;
    }

    .home-slider .owl-dots {
        display: none;
    }

    .inner-grid .post-metas {
        position: static;
    }

    .inner-grid .post-entry {
        padding: 20px;
    }

    .inner-grid .post-metas {
        font-size: 12px;
    }

    .inner-grid .post-share,
    .inner-grid .post-comments,
    .inner-grid .post-view {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        width: 40px;
    }

}


/*============================================================
	Tablet (Portrait) Design for a width of 768px
==============================================================*/

@media (min-width: 768px) and (max-width: 979px) {

    .main-nav li a {
        font-size: 13px;
        font-weight: 300;
        padding: 18px 8px;
    }

    .sec-head h2 {
        font-size: 30px;
    }

    .about-block {
        padding: 20px;
    }

    .service-item,
    .counter-item,
    .team-mate,
    .price-table {
        margin-bottom: 30px;
    }

    .home-slider .owl-nav {
        display: none;
    }

    .home-slider .owl-dots {
        display: block;
    }
}


/*============================================================
	Mobile (Portrait) Design for a width of 320px
==============================================================*/

@media only screen and (max-width: 767px) {

    .top-nav ul {
        text-align: left;
    }

    .main-nav .navbar-nav {
        background-color: #fff;
        margin-top: 0;
    }

    .navigation .navbar-brand {
        height: auto;
        padding: 10px 0 0 15px;
    }

    .navbar-brand > img {
        width: 80px;
    }

    .main-nav li a {
        font-size: 13px;
        padding: 8px 15px;
    }

    .home-slider, .slide-content {
        height: 380px;
    }

    .home-slider .owl-nav {
        display: none;
    }

    .home-slider .owl-dots {
        display: block;
    }

    .home-slider .slide-item h2 {
        font-size: 25px;
    }

    .home-slider .slide-item h4 {
        font-size: 14px;
        margin: 25px 0 0;
    }

    .slide-content .btn-set a {
        padding: 10px 25px;
        text-transform: none;
    }

    .sec-head h2 {
        font-size: 23px;
    }

    .service-item,
    .counter-item,
    .team-mate,
    .price-table {
        margin-bottom: 30px;
    }

    .work-filter li a {
        padding: 0 0 7px;
    }

    .work-filter li {
        display: block;
        margin: 0 0 15px;
    }

    .work-filter li a:before,
    .work-filter li a:after {
        height: 1px;
    }

    .inner-grid .post-entry {
        padding: 30px 30px 70px;
        position: static;
        width: 100%;
    }

    .inner-grid .post-entry:before {
        border-color: transparent transparent #f4f4f4;
        left: 50%;
        margin-left: -15px;
        margin-top: 0;
        top: 50%;
    }

    .inner-grid.img-right .post-entry:before {
        border-color: transparent transparent #f4f4f4;
        margin-right: -15px;
        right: 50%;
    }
    
    .inner-grid:hover .post-entry:before {
        border-color: transparent transparent #52b6ac;
    }
    
    .inner-grid.img-right:hover .post-entry:before {
        border-color: transparent transparent #52b6ac;
    }

    .inner-grid .post-metas {
        position: static;
    }

    .project-meta {
        font-size: 13px;
    }
}


/*============================================================
    Mobile (Landscape) Design for a width of 480px
==============================================================*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

}